body{
    margin: 100px;
    text-align: center;
    
    }
#registerpage{
    width:500px;
height:auto;
padding: 20px 30px;
background-color: #EBDEF0;
border-radius: 10px;
box-shadow: 0 0 10px 0 #000;
margin: auto;
}
label{
    display: inline-block;
}
input[type=text],[type=password],[type=number]{
    width: auto;
    padding: 13px 55px;
    margin: 8px 0;
    text-align: left;
    border-radius: 4px;
box-sizing: border-box;

}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
 


button{
background-color:#4CAF50;
width: 30%;
padding: 9px 5px;
margin:5px 0;
cursor:pointer;
border:none;
color:#ffffff;
margin-left: 80px;
}
 
button:hover{
opacity:0.8;
}
 
#fn,#ln,#un,#pwd,#em,#mn,#fm,#cy{
font-family:'Lato', sans-serif;
color: gray;
}
 
#em{
margin-left:30px;
}
