body{
  margin: 100px;
  text-align: center;
 
  }
input[type=text],[type=password],[type=number]{
  width: 70%;
  margin: 8px 0;
  padding: 7px 10px;
  display: inline-block;
  border:1px solid #ccc;
 
  }


   
  button{
  background-color:  #4CAF50;;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
  width: 17%;
  padding: 9px 5px;
  margin:5px 0;
  cursor:pointer;
  border:none;
  color: white;
  margin-left: 40px;
  text-decoration: none;
  }
   
  button:hover{
  opacity:0.8;
  }
   
  #id,#description,#quantity,#in_stock,#price,#category,#productName{
  font-family:'Lato', sans-serif;
  
  }


  #mn{
    margin-left: 54px;
  }

#pd{
  margin-left:-184px;
  font-size: 17px;
  

}
  #ln{
    font-size: 18px;
  }
   
  /* #em{
  margin-left:30px;
  } */
  #productadd{
      align-items: center;
      width: 460px;
      height: 615px;  
     margin:auto;
      box-sizing: border-box;
     border:2px solid black
      
  }
  * {
      box-sizing: border-box;
    }
  #labelsearch{

      color: darkcyan; font-size: 20px;
      margin-left: 500px;
  }
/* 
  #search{
          margin-top:-31px;
  } */
#labelview{

  margin-left: 1050px;
  color: darkcyan; font-size: 20px;
}

#product-details{
margin-top: 75px;
margin-left:250px


}

#forSearch{
  width: 20%;
}


#pdct{
  color: white;
}


#linkbutton{
  margin-top: -51px;
}
  #drop-down{
    float: left;
       margin-left: 190px;
} 

