body{
    margin: 100px;
    text-align: center;
   
    }

   
   input[type=text],[type=number],[type=password],[type=file]{
    width: 70%;
    margin: 9px 19px;
    padding: 10px 10px;
    display: inline-block;
    border:1px solid #ccc;
   
    } 

    #id,#description,#quantity,#in_stock,#price,#category,#productName{
        font-family:'Lato', sans-serif;
      color: black;
        }     
        
        #productadd{
            align-items: center;
            width: 410px;
            height: 400px;  
           margin:auto;
            box-sizing: border-box;     
        }
  #subbutton{
      width:116px;
      text-align: center;
      margin-left: -13px;
  }

  #gobtn{
      width:116px;
      margin-left:620px;
      background-color:teal;
  }

#pd{
  width: 70%;
  margin: 9px 19px;
  padding: 10px 10px;
  display: inline-block;
  border:1px solid #ccc;
}

  label{
   display: inline-block; 
    text-align: right;
    width: 88px;
    
  }


