.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 0;
    background-color:darkcyan;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
 
   
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav Link {font-size: 18px;}
  }

  body{
    background-color: #F8F0EE;
}
  