
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  /* .row {margin: 0 -5px;} */
  .row{
    margin: 0 -5px;
        }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 25px;
    border: 2px solid #C39BD3;
   
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-style: double;
  }

  #editbtn{

    background-color: darkorange;
    width: 65px;
  }

  #delbtn{
    background-color:red;
    width: 65px;
  }
  

  p{
      color:darkcyan;
      font-family: cursive;
      font-size: 17px;
  }

  h3{
      color:mediumvioletred
  }